*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}
.container{
    height: 80vh;
    width: 90vw;
   
    display:grid;
    grid-template-columns:  1fr 1fr 1fr 1fr;
    gap:10px;
    margin:10px;
}
.box{
    background-color: brown;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    
   }
.left{
    grid-row: 1/4;

 }
   .second{
    grid-column:2/4;
   }
.sixth{
    grid-row:2/4;
    grid-column:4/5;
    
}
.left,.second,.sixth{
    background-color: green;
}
.fourth,.eight{
    background-color: yellow;
}
